# user uploads (NEVER track)
static/uploads/

# python runtime
__pycache__/
*.pyc
venv/
.env

# OS junk
.DS_Store
Thumbs.db

# instance folder for sqlite
instance/

# backups & local IDE
backups/
.vscode/